<h2>Available drones</h2>

{{#each drones}}
<div>
    <h3>{{this.name}}</h3>
    <p>{{this.propellers}}</p>
    <p>{{this.maxSpeed}}</p>
    <!-- <a href="/drones/{{this._id}}/edit">Edit</a> -->
    <form action='/drones/{{this._id}}/edit' method='post'>
    <button type='submit'>Edit</button>

    <form action='/drones/{{this._id}}/delete' method='post'>
    <button type='submit'>Delete</button>
    </form>
</div>
{{/each}}